.eventCont {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    overflow-y: auto;
    background-color: bisque;
    box-sizing: border-box;
    /* gap: 20px; */
    padding: 15px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: rgb(213, 243, 233);
    display: flex;
    height: max-content;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 9px -2px gray;
    position: relative;
    min-height: 190px;
    min-width: 360px;
    align-items: center;
    /* margin: 10px 10px; */
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 20px;
    border: 1px solid black;
    padding-right: 80px;
    cursor: pointer;
}

.cardAdd {
    align-items: center;
    padding: 0px;
    font-size: 80px;
    cursor: pointer;
}
.cardEdit {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.darkBold {
    font-weight: bolder;
}
.modalField {
    display: flex;
    justify-content: space-between;
    input {
        width: 200px;
    }
}

.button {
    background-color: rgb(114, 114, 149);
    margin: 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    color: white;
    font-weight: bold;
    button {
        background-color: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        border: inherit;
    }
}



/* ////////////////////////////////////////// */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  