
.configuration {
    flex: 7;
    /* background: #bceec2; */
    background: #b4f2f3;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: var(--contentMaxHeight);
    overflow-y: auto;
    align-items: center;
    gap: 25px;
    box-shadow: 4px 4px 7px 1px #000;
    h2 {
      font-family: 'Podkova';
    }
  }

  .NoText {
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    input {
      margin: 5px
    }
  }